<%- include('partials/header'); -%>
   <div class="main-box">
      <h1>Farson University</h1>
      <p>Where Your Future Begins</p>
      <button onclick="/views/courses.ejs">ENROLL NOW</button>
   </div>
   <%- include('partials/footer'); -%>