<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="style.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Suraj Kupate">
   <title>Farson University</title>
</head>
<body>
   <nav class="navlist">
      <ul>
         <li><h4>Group 6</h4></li>
         <li><a href="/homepage">Home</a></li>
         <li><a href="/courses">Courses</a></li>
      </ul>
   </nav>
   <div class="main-box">
      <h1>Farson University</h1>
      <p>Where Your Future Begins</p>
      <button onclick="/views/courses.ejs">ENROLL NOW</button>
   </div>
</body>
</html>